
<table class="table table-striped">
  <thead>
      <tr>
        <th colspan="3">Empployee List  <input type="text" ng-model="query" /></th>
          <th>
              <a ng-href="#/Add">
                <button class="btn">
                    <span class="glyphicon glyphicon-pencil"></span>  Add   
                </button>
            </a>
          </th>
      </tr>
      <tr>
        <th>Emp ID </th>
        <th>Name</th>
        <th>Salary</th>
        <th>Edit</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <tr ng-repeat="emp in emplyees | filter : paginate | filter : query ">
        <td><a ng-href="#/{{emp.empId}}"> {{emp.empId}}</a></td>
        <td> {{emp.name}}</td>
        <td> {{emp.Salary | currency}}</td>
        <td>
            <a ng-href="#/Edit/{{emp.empId}}">
                <button class="btn">
                    <span class="glyphicon glyphicon-pencil"></span>  Edit
                </button>
            </a>
         </td>
          <td> 
              <a href="" ng-click="removeName(emp)">
                  remove
              </a>

          </td>
       </tr>
   </tbody>
   

</table>
    <pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>