<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example 2</title>
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script type="text/javascript">
    if (typeof angular == 'undefined') {
        

        document.write('<script src="AngularJS.js"><\/script>')
    }
        </script>



    <!--  <script src="AngularJS.js"></script>-->

      <script type="text/javascript">


          
      </script>
  </head>
  <body>
    Name:<input  ng-model="name" type="text"/> 

      <br />

      <input ng-bind="name" type="text"/> 


    Hello <div ng-bind="name"> </div><a href="Example2.html">Example2.html</a> 

      <br />
      Test
    <span   ng-model="name"></span>
  </body>
</html> 
    