<html>
<head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>-->
  
    <script src="AngularJS.js"></script>
</head>
<body>

    <form name="myform" ng-app>
        Checkbox: <input type="checkbox" ng-model="checkboxData"   /> <br>
        Value is <span ng-bind="checkboxData"></span>.<br />

        Checkbox Checked Values: <input type="checkbox" name="checkboxValueCheckedData" ng-true-value="'YES'" ng-false-value="'NO'" ng-model="checkboxValueCheckedData"  />  <br>
        Checkbox Checked Values is <span ng-bind="checkboxValueCheckedData"></span>.<br />

        Checkbox Un-Checked Values: <input type="checkbox" name="checkboxValueUnCheckedData" ng-true-value="'YES1'" ng-false-value="'NO1'" ng-model="checkboxValueUnCheckedData"  />  <br>
        Checkbox Un-Checked Values is <span ng-bind="checkboxValueUnCheckedData"></span>.<br />

    </form>
</body>
</html>
