<html>
<head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>-->
  
    <script src="AngularJS.js"></script>
</head>
<body>

    <form name="myform" ng-app>
        month: <input type="month" ng-model="dateData" placeholder="yyyy-MM"  /> <br>
        month Key-in is <span ng-bind="dateData | date:'MM-yyyy'"></span>.<br />

        InValid month: <input type="month" name="dateRangeDataName" ng-model="dateRangeData" placeholder="yyyy-MM"  min="2015-01" max="2015-12" />  <span ng-show="myform.dateRangeDataName.$error.min || myform.dateRangeDataName.$error.max">Please key-in month of year 2015!</span><br>
        month Key-in is <span ng-bind="dateRangeData"></span>.<br />

        Require month: <input type="month" name="dateRiqureDataName" ng-model="dateRiqureData" ng-required="true" placeholder="yyyy-MM"  min="2015-01" max="2015-12" />  <span ng-show="myform.dateRiqureDataName.$error.required">Please key-in month!</span><br>
        month Key-in is <span ng-bind="dateRiqureData"></span>.<br />
    </form>
</body>
</html>
