<html>
<head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>-->
  
    <script src="AngularJS.js"></script>
</head>
<body>

    <form name="myform" ng-app>
        Please slect color: <br>
        <input type="radio"   ng-model="colorData"  value="Blue"   /> Blue <br>
        <input type="radio"   ng-model="colorData"  value="Red"    /> Red <br>
        <input type="radio"   ng-model="colorData" ng-value="otherColor"   /> Other <br>
        <input type="TextBox"   ng-model="otherColor"   /> Other <br>
          color is <span ng-bind="colorData"></span>.<br />
    </form>
</body>
</html>
