<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  </head>
  <body>
    URL:<input ng-model="urlData" type="URL"  size="100"/><BR />
    Your Url is {{urlData}}.<BR />

     Invalid URL:<input ng-model="urlIData" type="URL"  size="100"/><BR />
    Your Url is {{urlIData}}.
  </body>
</html> 
