<html>
  <head>
    <meta charset="utf-8">
    <title>Angular.js Example</title>
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>-->
      <script src="AngularJS.js"></script>
    <script>
        var app = angular.module('myApp', []);


        app.directive("sharedScope",

               function()
               {
                   return {
                       scope: true,// Isolated
                       restrict: "EAC",
                       // template: "Hi  {{firstName}}</BR>",// Without Isolated Scope

                       template: "Hi this is shared, {{firstName}}</BR>", // With Isolated Scope
                      // templateUrl: "HtmlPage.html",
                       link: function (scope, element, attrs) {
                            
                         
                       }
                       
               }

               });



        app.directive("isoScope",

               function () {
                   return {
                       scope: {
                           sName: '='


                       },// Isolated 
                       // Default is shared or use 
                       // scope: true,// Isolated 
                       restrict: "EAC",
                       // template: "Hi  {{firstName}}</BR>",// Without Isolated Scope

                       template: "THis is <input type='text' ng-model='sName' /> ", // With Isolated Scope
                       // templateUrl: "HtmlPage.html",
                       link: function (scope, element, attrs) {
                 

                       }

                   }

               });



        app.controller('EmployeeCtrl', function ($scope) {

            $scope.firstName = '';
            $scope.salary = 0.0;

            var Emplyee = function () {
               

                this["name"] = '';
                Salary = 0;

            }

             


            $scope.emplyees = [
          { "name": "Abhay", "Salary": 10000 },
          { "name": "Amruta", "Salary": 10000 },
          { "name": "Ajay", "Salary": 10000 },
          { "name": "Alok", "Salary": 10000 },
            ];

            $scope.addName = function () {
                var e = new Emplyee();
                e.name = $scope.firstName;
                e.Salary = $scope.salary;
                $scope.emplyees.push(e);
                $scope.firstName = '';
                $scope.salary = 0.0;
            };

            $scope.removeName = function (emp) {
                var i = $scope.emplyees.indexOf(emp);
                $scope.emplyees.splice(i, 1);
            };

        });
    </script>
  </head>
  <body ng-app="myApp"  ng-controller="EmployeeCtrl">
      <form name="myform" ng-submit="addName()" >       
          
            <shared-Scope  ></shared-Scope>
              <div shared-Scope="Test122"   ></div>

          <div class="isoScope:test" s-Name="firstName" ></div>
            
               Employee: <input type="text" ng-model="firstName" />  <br /> <br /> 
               Salary:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" ng-model="salary" />  <br /> <br /> 
                <input type="submit" value="Add"> <br /> 
              List of Employee: 
              <Table>
                  <tr><th>Name</th><th>Salary</th><th></th></tr>
                    <TR ng-repeat="emp in emplyees"><td>{{emp.name}}</td><td>{{emp.Salary | currency}}</td> <td> <a href="" ng-click="removeName(emp)">remove</a></td> </TR>
               </Table>         
          </div>         
      </form> 
  </body>          
</html> 
